.layout-default {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    color: #fff;
    padding: 20px;
    width: 100%;
}

.header__menu {
    margin-right: 10px;
    margin-left: -5px;
}

.header__logo {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    justify-content: left;
}

.header__search {
    margin-bottom: -25px;
    align-items: center;
}

.header__search--input {
    max-width: 500px;
}

.header__button {
    display: flex;
    justify-content: space-evenly;
}

.header__cart {
    margin: 0 15px;
}

.header__button--login {
    margin-right: 5px;
}

.header__button--register {
    margin-left: 5px;
}

.header__menu--icon {
    background: #fff;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown {
    display: flex;
    align-items: center;
}

.ant-dropdown .ant-dropdown-menu {
    padding: 0;
}

.ant-dropdown-menu-submenu-arrow {
    display: none;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
    padding-inline-end: 0;
}

.dropdown__item {
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.dropdown__item--right {
    display: flex;
    text-align: left;
}

.dropdown__item--left {
    display: flex;
    padding-left: 5px;
}

.dropdown__item--icon {
    display: flex;
    align-items: center;
    color: orange;
    margin-right: 5px;
}

.below-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
}

.footer {
    text-align: center;
    width: 100%;
    margin: 20px 0;
}